[submodule "limine"]
	path = limine
	url = https://github.com/Limine-Bootloader/Limine.git
[submodule "limine-protocol"]
	path = limine-protocol
	url = https://github.com/Limine-Bootloader/limine-protocol.git
