[submodule "limine-protocol"]
	path = limine-protocol
	url = https://github.com/limine-bootloader/limine-protocol.git
[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v10.x-binary
